@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

.countaner{
width: 100%;
}
html{
font-family: 'Noto Kufi Arabic', sans-serif;
}
/* ?=================NAV BARR================ */
html {
  font-size: 16px;
}
body {
  direction: rtl;
}
:root {
  --backgroundDark: #424242;
  --hoverIcone: #c1c1c17c;
  --colorGreen: #00b44b;
  --colorStar: #ffa726;
  --colorWhite: #fff;
  --backgroundCard: #0d0d0d63;
  --backgroundSection: #f1f1f1;
  --backgroundHowto: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--backgroundDark);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--hoverIcone);
  border-radius: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Jost:wght@100;200;300;400&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  direction: rtl;
}
:root {
  --backgroundDark: #424242;
  --hoverIcone: #c1c1c17c;
  --colorGreen: #00b44b;
  --colorStar: #ffa726;
  --colorWhite: #fff;
  --backgroundCard: #0d0d0d63;
  --backgroundSection: #f1f1f1;
  --backgroundHowto: #fff;
}
/* Start Navbar Section */
.navbar {
  background-color: var(--backgroundDark);
  height: 62px;
  z-index: 10;
}
.navbar .container-fluid {
  height: 100%;
}
.navbar .khamsat-logo {
  max-width: 165px;
}
.navbar .khamsat-icon {
  width: 47px;
  height: 42px;
  z-index: 999;
  transform: translateX(-140%);
}
.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
  border-radius: unset;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler:hover {
  background-color: var(--hoverIcone);
}
.navbar .navbar-toggler i {
  font-size: 1.6rem;
  color: var(--colorWhite);
}
.navbar .offcanvas-header {
  background-color: var(--backgroundDark);
}
.navbar .offcanvas-title {
  width: 120px;
}
.accordion-button:hover {
  background-color: var(--hoverIcone);
  color: var(--colorGreen);
}
.accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
color: black !important;
}

.accordion-button:focus {
  z-index: 3;
 
    border-color: unset !important;
  outline: 0px;
  box-shadow: none !important;
  background: none !important;
}
.offcanvas-end {
  width: 335px;
}
/* End Navbar Section */

/* Respnsive */
@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .main .title-web {
    width: 78% !important;
  }
  .main .search {
    width: 55px;
  }
}
@media only screen and (max-width: 900px) {
  .hide {
    display: none;
  }
  .navbar .khamsat-icon {
    display: block;
  }
}

:root {
  --backgroundDark: #424242;
  --hoverIcone: #c1c1c17c;
  --colorGreen: #00b44b;
  --colorStar: #ffa825;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorGray: #7b7b7b;
  --backgroundCard: #0d0d0d63;
  --backgroundSection: #f1f1f1;
  --backgroundHowto: #fff;
}
 
.button {
  border: none;
  outline: none;
  background: none;
  color: var(--colorWhite);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: var(--hoverIcone);
}
.account {
  border: 1px solid var(--hoverIcone);
  outline: none;
  background: none;
  color: var(--colorWhite);
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.account:hover {
  background-color: var(--hoverIcone);
}
.button-menu {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: right;
  padding: 12px 35px;
  font-size: 1.1rem;
  transition: all 0.2S ease;
}
.button-menu:hover {
  background-color: var(--hoverIcone);
  color: var(--colorGreen);
}
.button-more {
  background: none;
  outline: none;
  border: 1px solid var(--colorGreen);
  color: var(--colorGreen);
  padding: 7px 13px;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}
.button-more::before {
  content: '';
  background-color: var(--colorGreen);
  position: absolute;
  z-index: -5;
  left: 0;
  top: 0;
  width: 130%;
  height: 150%;
  border-radius: 0 50px 50px 0;
  transform: translateY(-50%) translateX(-100%);
  transition: all 0.5s ease;
}
.button-more:hover {
  color: var(--colorWhite);
}
.button-more:hover::before {
  transform: translateY(0) translateX(0);
}
.link-card {
  color: var(--colorBlack);
  transition: all 0.2s ease;
}
.link-card:hover {
  color: var(--colorGreen);
}
.desc-link {
  color: var(--colorGray);
  font-size: 0.9rem;
  font-weight: 500;
}
.star {
  color: var(--colorStar);
  font-size: 0.9rem;
}
.navbar-toggler{
box-shadow: none !important;
}
.accordion-button:not(.collapsed){
color: #000;
background-color: white;
}
.accordion-flush .accordion-button:not(.collapsed){
  box-shadow: none;
  color: none;
}
.accordion-button:not(.collapsed):focus {
  box-shadow: none;

}
/* *END NAV */


/* *main start */

main{
min-height: 120vh;
background-image: url("hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Noto Kufi Arabic', sans-serif;

}
main h3,.services h3{
font-size: 35px;
text-align: center;
color: rgb(34,34,34);
font-family: 'Noto Kufi Arabic', sans-serif;

}
main p{
font-size: 20px;
margin: 20px 0;
color: rgb(34,34,34);
}
main input{
  width: 650px;
  height: 65px;
  padding: 5px 15px;
  border: none !important;
  outline:1px solid rgb(82,176,53);

  font-size: 15px;
}

main .searsh{
position: relative;

}
main button{
width: 80px;
height: 80%;
border: none !important;
background-color: rgb(82,176,53);
font-size: 18px;
color: white;
cursor: pointer;
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
}


/* *end main */
/* !========================================================================================= */
/* *start SEC2  */

.services{
min-height: 100vh;
width: 100%;
padding: 60px 30px;
}
.services .parant-services{
margin-top: 50px;
width: 100%;


}

.service .card-1{

  height: 200px;
  background-image: url("sec1/13188deb-fda2-45f4-a07f-3b8a494ba71d.jfif");
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  margin: 20px 0;
  margin-left: 20px;
  position: relative;
  }
  .service .card-1::after{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
  content: "";
  position: absolute;
  left: 0;
  top:0;
  }
  
  .service .card-2{
  
    background-image: url("sec1/c86d3b23-bf87-4a4c-b9ea-1f06543b681d.jfif");
    height: 200px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    margin: 20px 0;
    margin-left: 20px;
    position: relative;
  
    }
    .service .card-2::after{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    content: "";
    position: absolute;
    left: 0;
    top:0;
    }
  
    .service .card-3{
  
      background-image: url("sec1/31e9cf5a-4c86-4db5-91f2-db39956e15a8.jfif");
      height: 200px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      margin: 20px 0;
      margin-left: 20px;
      position: relative;
    
      }
      .service .card-3::after{
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .4;
      content: "";
      position: absolute;
      left: 0;
      top:0;
      }
  /* Start How To Section */
.use {
  background-color: var(--backgroundSection);
}
.how-to {
  min-height: 150px;
  background-color: var(--backgroundHowto);
}
.svg-img {
  width: 75px;
  height: 60px;
}
.how-to .desc h5 {
  font-weight: 600;
}
.number {
  background-color: var(--colorGreen);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(70%) translateY(50%);
}
.number h4 {
  color: var(--colorWhite);
}
/* End How To Section */

      .service .card-4{
  
        background-image: url("sec1/5e3c72d1-497c-4f0a-9b47-c6588811a372.jfif");
        height: 200px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100% 100%;
        margin: 20px 0;
        margin-left: 20px;
        position: relative;
      
        }
        .service .card-4::after{
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .4;
        content: "";
        position: absolute;
        left: 0;
        top:0;
        }


        .service .card-5{
  
          background-image: url("sec1/b3b5a235-9b1c-4f58-b5b3-cf255eef6a82.jfif");
          height: 200px;
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: 100% 100%;
          margin: 20px 0;
          margin-left: 20px;
          position: relative;
        
          }
          .service .card-5::after{
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .4;
          content: "";
          position: absolute;
          left: 0;
          top:0;
          }
  

          .service .card-6{
  
            background-image: url("sec1/ad2b9b01-257d-4460-80f9-e083b1dd631a.jfif");
            height: 200px;
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 100% 100%;
            margin: 20px 0;
            margin-left: 20px;
            position: relative;
          
            }
            .service .card-6::after{
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .4;
            content: "";
            position: absolute;
            left: 0;
            top:0;
            }

            .service .card-7{
  
              background-image: url("sec1/96c1d511-1bbf-4bba-94fb-1ca622bbabe6.jfif");
              height: 200px;
              width: 95%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-size: 100% 100%;
              margin: 20px 0;
              margin-left: 20px;
              position: relative;
            
              }
              .service .card-7::after{
              width: 100%;
              height: 100%;
              background-color: #000;
              opacity: .4;
              content: "";
              position: absolute;
              left: 0;
              top:0;
              }
  
              .service .card-8{
  
                background-image: url("sec1/translate.jpg");
                height: 200px;
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: 100% 100%;
                margin: 20px 0;
                margin-left: 20px;
                position: relative;
              
                }
                .service .card-8::after{
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .4;
                content: "";
                position: absolute;
                left: 0;
                top:0;
                }




  .service p{
  font-size: 25px;
  color: white;
  z-index:2 ;
font-family: 'Noto Kufi Arabic', sans-serif;
  
  }
  /* *service end */
  /* !start sec3  */

  .all_services{
  width: 100%;
  padding: 50px  20px 20px;
  background-color: #f1f1f1;
  }

.SEC_3{
margin: 20px 0;
width: 100%;
}

.title{
  width: 100%;
margin: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 15px;
}
.title a button{
  padding: 5px 10px;
  font-size: 18px;
  text-decoration: none !important;
  border: 1px solid  rgb(82,176,53);
  color:  rgb(82,176,53);
font-family: 'Noto Kufi Arabic', sans-serif;
transition: .3s linear;

}

.title a button:hover{
background-color: rgb(82,176,53);
color: white;
}
.title  a ,.title p{
  font-family: 'Noto Kufi Arabic', sans-serif;
font-size: 20px;
text-decoration: none !important;
color: black;
font-weight: bold;
}
.all_services .items {
width: 100%;
}
.Item{
  width:23%;
  margin:90px auto;

  height: 330px;
}
.Item img{
width: 100%;
height: 60%;
cursor:pointer;
margin-bottom: 10px;

}
.Item a{
text-decoration: none !important;
color: #000;
font-size: 18px;
line-height: 2;
transition: .3s linear;
font-family: 'Noto Kufi Arabic', sans-serif;

}
.Item a:hover{
  text-decoration: none;
  color: rgb(82,176,53);
}
.Item p{
font-size: 12px;
color: #777777;
font-family: 'Noto Kufi Arabic', sans-serif;

}
.Item i{
color: #fa9747;
font-size: 15px;
margin-bottom: 15px;
}
 .price{
font-size: 15px;
font-weight: 700;
color: #000;
font-family: 'Noto Kufi Arabic', sans-serif;
margin-bottom: 25px !important;

}
.Item .price span{
  font-size: 18px;
  font-weight: bold;
color: #000;

}

.SEC_4{
  margin: 30px 0;
  width: 100%;
  }


footer{
font-family: 'Noto Kufi Arabic', sans-serif;
margin-top: 100px;
}
.text-uppercase {
font-size: 15px;
color: #000;


}
.text-reset{
text-decoration: none;
width: 100%;
}
.right p{
  color: rgb(82,176,53);
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.flexx{
display: flex;
justify-content: center;
align-items: flex-start;
}
.aasaa{
  font-size: 45px;
  color: #0d6efd;
  margin-left: 20px;
}
.anos{
  font-size: 45px;
  color: rgb(85,172,238);
}
.as{
margin-left: 55%;
}
.ass{
  margin-left: 23%;
  margin-top: 10px;
  }
.rrr{
  margin-left: 30%;

}
.eee{
  margin-left:70%;

}
.heding {
  font-size: 15px;
  color: #000;
  
  
  }
.omer img{
width: 120px;
}
.aamas{
display: flex;
justify-content: space-between;
align-items: center;
}
.aamas a{
text-decoration: none;
}
.aamas a p{
  font-family: 'Noto Kufi Arabic', sans-serif;
color: #000;
}
.annos{
background-color:#f1f1f1 ;
}
@media screen and (max-width: 768px) {
  .nav_right a{
 visibility: hidden;
  }
  main input{
    width: 350px;
    height: 65px;
    padding: 5px 15px;
    border: none !important;
    outline:1px solid rgb(82,176,53);
  
    font-size: 15px;
  }
  .Item i{
    color: #fa9747;
    font-size: 15px;
    margin-bottom: 0px;
    }
    .Item .price{
      font-size: 15px;
      font-weight: 700;
      color: #000;
      font-family: 'Noto Kufi Arabic', sans-serif;
      margin-bottom: 50px;
      
      }
      .as ,.rrr,.eee,.ass{
        margin-left:0%;
        }
        
        
 }
